<% include ../partials/header %>

    <div class="jumbotron">
        adfasdf
        <%= event %>
    </div> <!-- jumbotron -->
	<div class="well">
	
	</div> <!-- well -->

<% include ../partials/footer %>