<% include ./partials/header %>

  <div class="container">
  	<div class="row">
  	  <div class="col-md-2"></div>
  	  <div class="col-md-8">
  	    <br><br>
  	    <p>A simple app to log time and keep track of events/activities you care about!</p>
	   
  	  <div class="col-md-2"></div>
  	  </div>
   	</div>
  </div><!-- /.container -->


<% include ./partials/footer %>