<% include ./partials/header %>

  <div class="container">
    <p>A simple app to log time and keep track of events/activities you care about!</p>
 
  </div><!-- /.container -->


<% include ./partials/footer %>