<% include ./partials/header %>

    <h2>User Profile</h2>
    <br>

    <p>Username: <%= currentUser.username %></p>
    <button class="btn btn-xs btn-primary">Change Password</button>

<% include ./partials/footer %>

