<% include ./partials/header %>

    <h1>User Profile</h1>

    <h3>Username: <%= currentUser.username %></h3>
    <button class="btn btn-primary">Change Password</button>

<% include ./partials/footer %>

