.date {
	font-weight: strong;
	font-size: 1.2em;
}

.flex {
	display: flex; 
	flex-wrap: wrap;
}

.header {
	margin-bottom: 30px;
}

.icon {
	display:flex; 
	flex-wrap: wrap;
}

.input-centered {
	max-width: 300px; 
	margin: 0 auto;	
}

.time_row {
	padding: 20px;
}


#deleteForm {
	display: inline;
}

@media (max-width: 768px) {
	.page-centered {
		width: 95%; 
		margin: 30px auto;	
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.page-centered {
		width: 85%; 
		margin: 30px auto;	
	}
}

@media (min-width: 992px) {
	.page-centered {
		width: 70%; 
		margin: 30px auto;	
	}
}
