hr {
	margin: 20px 0;
}

.date {
	font-weight: bold;
	font-size: 1.2em;
	min-width: 60px;	
}

.time {
	min-width: 150px;
	padding-left: 40px;
	
}

.extra-margin {
	margin-left: 20px;
}

.duration {
	min-width: 80px;
}


.block {
    max-width: 700px;
	margin: 0 5px;
}

.flex {
	display: flex; 
	flex-wrap: wrap;
}

.header {
	margin-bottom: 30px;
}

.icon {
	display:flex; 
	flex-wrap: wrap;
}

.input-centered {
	max-width: 300px; 
	margin: 0 auto;
	text-align: left;
}

.parent_row {
	padding: 5px;  
	max-width: 550px;
	margin: 0 auto;
}

.child_row {
	padding: 5px 0 5px 30px;
}


#deleteForm {
	display: inline;
}

@media (max-width: 768px) {
	.page-centered {
		width: 95%; 
		margin: 30px auto;	
	}

	
	.child_row {
		padding: 10px 15px;
	}

}

@media (min-width: 769px) and (max-width: 991px) {
	.page-centered {
		width: 85%; 
		margin: 30px auto;	
	}
	
	.child_row {
		padding: 5px 0 5px 30px;
	}

}

@media (min-width: 992px) {
	.page-centered {
		width: 70%; 
		margin: 30px auto;	
	}

	.child_row {
		padding: 5px 0 5px 30px;
	}

}
